body{
    color: blue;
}
td{
    border:1px solid black;
}
img{
    height: 100px;
}
#block{
    background-color: aqua;
}
span{
    background-color: yellowgreen;
}
#pre{
    background-color: lightblue;
}